[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "assignment-1-cskang510"]
	path = assignment-1-cskang510
	url = https://github.com/cu-ecen-aeld/assignment-1-cskang510.git
